.header-container {
  height: 100px;
  width:100%;
  box-shadow: 0 3px 8px rgb(0 0 0 / 40%);
  position: fixed;
  background-color: #f6f6f6;
  z-index:10;
}
.logo {
  float: left;
  height: 100%;
}

.logo span {
  display: inline-block;
  width: 300px;
  font-size: 2.5em;
  text-align: center;
  transform: translate(0, 30%);
  font-family: "Mirande";
  font-weight: bold;
  cursor: default;
}

.nav {
  float: right;
  height: 100%;
}
.nav ul li {
  display: inline-block;
  padding: 10px;
  width: 200px;
  text-align: center;
  transform: translate(0, 50%);
}

.logo span::selection,
.nav ul li::selection {
  background: transparent;
}

.p-slidemenu {
  width: 10.5em !important;
}

.menu-icon {
  width: 300px;
  text-align: center;
}

.menu-icon i:hover {
  cursor: pointer;
  font-size: 2.05em;
}

.menu-icon i:active {
  font-size: 1.97em;
}

.menu-icon i {
  display: inline-block;
  transform: translateY(100%);
  font-size: 2em;
}
