.default-container {
  margin-left: 200px;
  background-color: #ebebeb;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  color: black;
  top: 60px;
  position: relative;
  min-height: 850px;
  grid-gap: 30px;
}

section h1::selection {
  background: transparent;
}

.default-container .section {
  box-shadow: 0 3px 8px rgb(0 0 0 / 40%);
  background-color: #f6f6f6;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  min-width: 510px;
}

.summary-items {
  padding: 5px;
  height: 70px;
  border-radius: 10px;
  background-color: #e1eaec;
  display: inline-block;
  text-align: center;
  box-shadow: 0 1px 4px rgb(0 0 0 / 40%);
  width: 200px;
  margin: 10px;
}

.charts-grid {
  display: inline-block;
  margin: 20px;
  width: 45%;
}

.charts {
  /* min-width: 470px; */
  border: 1px solid;
}

/* 

.section-etc {
  height: 800px;
}



.charts-grid div {
  width: 100%;
} */
