.sidebar-container {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  box-shadow: 0 3px 8px rgb(0 0 0 / 40%);
  transition: 0.4s ease;
  background-color: #f6f6f6;
}

.sidebar-content {
  margin-top: 100px;
}

.sidebar-container ul {
  list-style-type: none;
  font-size: 1.3em;
}

.sidebar-container ul i {
  font-size: 1em;
  margin: 52px 10px 11px -2px;
}

.sidebar-container ul li span {
  cursor: pointer;
  transition: 0.1s ease all;
}

.sidebar-container ul li span:active {
  color: slategrey !important;
}

.sidebar-container ul li span::selection {
  background: transparent;
}

.sidebar-container ul li span:hover {
  color: cornflowerblue;
}
