.container {
  background-color: #ebebeb;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  text-align: center;
  color: black;
  width: 100%;
  /* animation: appear 0.8s ease-out forwards; */
  top: 80px;
  position: relative;
  min-height: 850px;
  height: 100%;
}

.container .overview {
  text-align: left;
  display: block;
  color: black;
  font-size: 200%;
  font-weight: bold;
}

.wrapper {
  background-color: white;
  min-height: 120px;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.content {
  background-color: #ebebeb;
}
.individual {
  padding: 10px;
  width: 300px;
  height: 70px;
  border-radius: 10px;
  background-color: #e1eaec;
  margin-left: 30px;
  display: inline-block;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.quantity {
  position: relative;
  display: flex;
  left: 130px;
  margin: 0 auto;
}
.flex {
  display: grid;
  grid-template-columns: 50% 49%;
  grid-gap: 1em;
  padding: 15px;
}
.flex div {
  background-color: #ebebeb;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.table {
  width: 100%;
}

.flexContent {
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.input {
  height: 40px;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
}

.overview select {
  position: relative;
  left: 5px;
  bottom: 5px;
  padding: 5px;
}

@media only screen and (max-width: 1366px) {
  .flex {
    display: grid;
    grid-template-columns: 99%;
  }
  .individual {
    padding: 10px;
    width: 200px;
    height: 70px;
    border-radius: 10px;
    background-color: #e1eaec;
    left: -10px;
    position: relative;
    display: inline-block;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
  }

  .quantity {
    position: relative;
    left: 80px;
    margin: 0 auto;
  }

  .wrapper {
    font-size: 80%;
  }

  .input {
    height: 40px;
    width: 70%;
    padding: 10px;
    border-radius: 5px;
  }
  .flexContent {
  }
}
