.container {
  position: relative;
  text-align: justify;
  margin: 0 auto;
  animation: form 1.5s ease-out forwards;
  width: 60%;
  left: 10%;
  padding: 10px;
}
.content h1 {
  font-size: 290%;
}
.content {
  text-align: left;
  margin: 0 auto;
  position: relative;
  margin-top: 120px;
  width: 80%;
  left: -60px;
}
.content p {
  font-size: 120%;
  font-weight: bold;
}

.header {
  font-size: 200%;
  font-weight: bold;
}

@keyframes form {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

hr {
  width: 80%;
  max-width: 900px;
  float: left;
}

.headerphoto {
  position: relative;
  text-align: center;
  margin: 0 auto;

  display: none;
}
.headerphoto img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  border: 2px solid #a4b3c4;

  margin-bottom: -80px;
}

@media only screen and (max-width: 767px) {
  .container {
    width: 80%;
    text-align: justify;
    left: 0.1%;
    transition: 1s ease;
  }
  .headerphoto {
    display: block;
  }
  .content {
    left: 0px;
  }

  .popOut {
    height: 900px;
  }
}
.portImage {
  height: 150px;
  width: 200px;
  transition: 0.5s ease;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.portImage:hover {
  opacity: 0.7;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease;
}
