.container {
  position: relative;
  text-align: center;
  margin: 0 auto;
  animation: form 1.5s ease-out forwards;
  width: 70%;
  left: 400px;
  padding: 10px;
}
.content h1 {
  font-size: 360%;
}
.content {
  text-align: left;
  margin: 0 auto;
  position: relative;
  margin-top: 120px;
}
.content p {
  font-size: 120%;
  font-weight: bold;
}

.header {
  font-size: 250%;
  font-weight: bold;
}

@keyframes form {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

hr {
  width: 850px;
  float: left;
}
