.container {
  position: relative;
  top: 0;
  bottom: 0;
  margin: 0;
}

body {
  background-color: rgba(10, 25, 47, 0.99);
  color: #f0f0f0;
}

.loadingContainer {
  position: relative;
  text-align: center;
}

.ring {
  position: relative;
  padding: 10px;
  top: 20vh;
  width: 200px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.blurDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(5px);
  animation: blurEffect 2s linear infinite;
}

.loading {
  padding: 10px;
  position: relative;
  width: 100%;
  z-index: 0;
}

@keyframes blurEffect {
  0% {
    backdrop-filter: blur(0px);
  }
  50% {
    backdrop-filter: blur(4px);
  }
  100% {
    backdrop-filter: blur(0px);
  }
}

.contents {
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  font-size: 6em;
}

.aboutMe:hover{
  cursor:default;
}

.aboutMe span::selection,
.aboutMe p::selection {
  background: transparent;
}

.justify {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.aboutMe {
  margin-top: 10%;
  text-align: left;
  position: relative;
}
