@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .export-container {
    display: none;
  }

  .scan-dialog {
    width: 80%;
  }

  .scan-dialog .scan-dialog-div {
    padding: 10px;
    box-shadow: 0px 0px 4px -3px;
  }

  .scan-dialog-div div {
    text-align: center;
  }

  .scan-dialog-div div button {
    margin: 5px;
  }

  .scan-dialog .scan-dialog-div:nth-child(odd) {
    background-color: #f6f6f6;
  }

  .scan-dialog-summarised-content {
    padding: 10px;
    box-shadow: 0px 0px 4px -1px;
  }

  .scan-buttons {
    display: inline-block;
  }

  .scan-buttons button {
    text-align: center;
    margin: 10px;
  }
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .export-container {
    display: block;
  }

  .button-margin {
    margin: 10px;
  }

  .search-container {
    float: right;
  }

  .export-buttons {
    float: left;
  }

  .export-container {
    height: 70px;
  }
}
